#tegning {
    position: relative;
}

#first {
    position: absolute;
}

.ia .ib .ic .is {
    position: absolute;
}
.ia {
    position: absolute;
    left: 55px;
    top: -180px;
    font-size: 0.8rem;
}
.ib {
    position: absolute;
    left: 35px;
    top: -155px;
    font-size: 0.8rem;
}
.ic {
    position: absolute;
    left: 170px;
    top: -170px;
    font-size: 0.8rem;
}
.is {
    position: absolute;
    left: 130px;
    top: -125px;
    font-size: 0.8rem;
}


