#medlem {
    display: grid;
    grid-template-columns: 10rem 1fr 2rem ;
    grid-columns: 20rem 5fr 1fr;
    grid-gap: 1rem ;
    grid-template-areas:
    "header header  header "
    "menu   main    aside"
    "footer footer  footer";

}
#medlem * {
    border: solid gray 1px;
}

header{
    grid-area: header;
}
menu{
    grid-area: menu;
    color: brown;
    background-color: rgb(114, 58, 58);
}
main{
    grid-area: main;
    color: rgb(43, 38, 27);
    background-color: brown;
    position: absolute;right: 33rem;

}
aside{
    grid-area: aside;
}
footer{
    grid-area: footer;
    color:rgb(180, 133, 32) ;
    background-color:brown;
}
body{
    background-color: rgb(235, 169, 47);
}

