
    #main{
        font-family: monospace;
     }
    #minfak {  
    width:794px;
    height: 1122px;
    outline: solid gray 1px;  
    position: absolute;
    top:30px;
    left:10px;
    }
    
    #id1 {
    position: absolute;
    left:57px;
    top:273px;
    font-size: 1.1em;
    }
    .navn{
        position: relative;
        left: 100px;
        top: 350px;
    }
    .forfall{
        position: relative;
        left: 550px;
        top: 280px;
        font-size: 14px;
        padding-left: 10px;
    }

    .faktura{
        position: relative;
        left: -100px;
        font-size: 25px;
    }
    #faktura{
        position: relative;
        left: 300px;
        top: 300px;
        padding-left: 100px;
    }

    #gulTing2{
        position: relative;
        left: 100px;
        top: 400px;
    }