#faktura {
    width:794px;
    height: 1122px;
    background-image: url("faktura.png");
    background-size: contain;
    border: solid green 1px;
    }
    
    #minfak {  
    width:794px;
    height: 1122px;
    outline: solid gray 1px;  
    position: absolute;
    top:30px;
    left:10px;
    }
    
    #id1 {
    position: absolute;
    left:57px;
    top:273px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
    }